@charset "utf-8";
body{
    background-color: #f6f5f5;
    margin:0px;
    padding:0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width:100%;
    height: 60px;
    position: relative;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color:#EAF6F6;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;

}


nav ul{
    display: flex;
}
nav ul li a{
    margin:30px ;
    font-family: myriad pro regular;
    color:grey;
    font-size: 15px ;
    font-weight: 700;
}
.active
{
    font-weight: bold;
    color:blueviolet;
}

/* #about{
  width: 400px;
  
  align-content: center;
} */

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.skills-data{
  text-align: left;
  margin-left: 25%;
}
.projects-data{
  text-align: left;
  margin-left: 15%;
}
.projects-value{
  text-align: left;
  margin-left: 5%;
  margin-right: 10%;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color:#81b214;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;

}
  
.logo2{
  width: 80px;
  height: 80px;
}

.down {
  height: 250px;
  background-color: #47535E;
  background-position: 0 -80px;
  display: flex;
  color: #FFF;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.love {
  text-align: center;
  color: #2C3335;
}

.bottom-links {
  margin-top: 10px;
  width: 100%;
  max-width: 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
  
}


#em {
    color:#D53939;
}
#git {
  color: #F3B63A;
}
#hn {
  color: #36C2D6;
}
#me {
  color: #00ab6c;
}